$color: transparentize(#aaaaaa, 0.5);

* {
  background-color: transparent;
}

.arch {
  font-size: 22px;
  font-family: "3270 Nerd Font Propo";

  background-color: $color;
  margin-right: 25px;
  margin-left: 25px;
}

.triangle {
  $size: 3px;
  $peak-multiplier: 3;
  $side-multiplier: 5;

  &.right {
    border-style: solid;
    border-width: $size * $side-multiplier 0 $size * $side-multiplier $size *
      $peak-multiplier;
    border-color: transparent transparent transparent $color;

    margin-left: -25px;
    margin-right: 25px;

    &.inverted {
      border-color: $color transparent $color transparent;
      margin-left: -100px;
      margin-right: 185px;
    }

    &.trailing {
      margin-left: -215px;
      margin-right: 215px;
    }
  }

  &.left {
    border-style: solid;
    border-width: $size * $side-multiplier $size * $peak-multiplier $size *
      $side-multiplier 0;
    border-color: transparent $color transparent transparent;

    margin-left: 25px;
    margin-right: -25px;

    &.inverted {
      border-color: $color transparent $color transparent;
      margin-right: -100px;
      margin-left: 185px;
    }

    &.leading {
      margin-left: 215px;
      margin-right: -215px;
    }
  }
}

.clock, .date{
  font-size: 16px;
  font-family: JetBrains Mono;
  font-weight: 100;
}

.clock {
  background-color: $color;
  margin-right: -185px;
  margin-left: 215px;
}

.date {
  background-color: $color;
  margin-left: -185px;
  margin-right: 215px;
}
